* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}



body{
    margin-top: 100px;
    background-color: #F4F0DB;
    color: black;
    font-family: "Reenie Beanie", cursive;
    font-size: 100px;
    font-weight: 500;
}

section {
    margin-top: 150px;
    margin-left: 50px;
    height: 100vh;
    width: 100%;
    position: relative;
}

.messageRight {
   position: relative;
   height: 100vh;
   width: 100%;
   text-align: right;
   overflow-x: hidden;
}

.page5section {
    position: relative;
    height: 100vh;
    width: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    animation: 
        expandPage 7s ease 4s forwards;
    /* background-color: aquamarine; */
}


.topLeft {
    position: absolute;
    transform: translate(0,- 30px);
    animation-name: leftfadeIn;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.center{
    opacity: 0;
    position: absolute;
    transform: translate(75px, 100px);
    overflow: hidden;
    white-space: nowrap;
    border-right: 5px solid;
    animation: 
        typing 3s steps(9, end) 3s forwards,
        blinking 500ms steps(10) infinite,
        centerfadeIn 1s forwards;
    animation-delay: 2s;
   /*  background-color: aqua; */
}


.bottom {
    opacity: 0;
    position: absolute;
    transform: translate(75px, 200px);
    animation-name: centerfadeIn;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 6s;
    animation-fill-mode: forwards;
}


.real {
    display: inline-block;
    color: firebrick;
    transition-property: all;
    transition-duration: 5s;
    transition-timing-function: ease;
}

.real:hover {
    transform: translate(90px, 50px) scale(1.25);
    letter-spacing: .125em;
}



/* pageTwo */

.one {
    opacity: 0;
    position: absolute;
    left: 75%;
    animation:
        fade-from-right 1s ease-in 1s forwards; 
}


.two {
    opacity: 0;
    box-sizing: border-box;
    position: absolute;
    margin-top: 100px;
    transform: translateX(825px);
    overflow: hidden;
    white-space: nowrap;
    border-right: 5px solid;
    animation: 
        typing2 3s steps(9, end) 3s forwards,
        blinking 500ms steps(10) infinite,
        centerfadeIn 1s forwards;
    animation-delay: 2s; 
}

.three {
    opacity: 0;
    position: absolute;
    margin-top: 250px;
    transform: translateX(1150px);
    overflow: hidden;
    white-space: nowrap;
    animation: 
        slide-from-right 1.5s ease-out 5s forwards;
}


.four {
    opacity: 0;
    position: absolute;
    margin-top: 400px;
    transform: translateX(950px);
    animation: 
        slide-from-left 2s ease-out 6s forwards;;
}


.five {
    opacity: 0;
    position: absolute;
    margin-top: 550px;
    transform: translateX(1150px);
    overflow: hidden;
    white-space: nowrap;
    animation: 
        slide-from-right 1.5s ease-out 7s forwards;
}

.rightDone {
    display: inline-block;
    color: firebrick;
    transition-property: all;
    transition-duration: 5s;
    transition-timing-function: ease;
}



/* pageThree */

.lineOne {
    opacity: 0%;
    position: absolute;
    left: 75%;
    animation:
        fade-from-right 1s ease-in 1s forwards;
}


.lineAnimation {
    opacity: 0;
    position: absolute;
    margin-top: 150px;
    transform: translateX(950px);
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: 50px;
    animation: 
        closeIn 4s forwards 2s;
}


.lineThree{
    opacity: 0;
    position: absolute;
    margin-top: 300px;
    transform: translateX(725px);
    overflow: hidden;
    white-space: nowrap;
    border-right: 5px solid;
    animation: 
        blinking 500ms steps(11) infinite,
        typingRight 3s steps(18, end) 3s forwards,
        rightfadeIn 1s forwards;
    animation-delay: 4s;
}       

.feel {
    color: firebrick;
}

/* pageFour */

.she {
    position: absolute;
    transform: translate(0,- 30px);
    animation-name: leftfadeIn;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.easy {
    opacity: 0;
    position: absolute;
    transform: translate(75px, 100px);
    overflow: hidden;
    white-space: nowrap;
    border-right: 5px solid;
    animation: 
        typing 3s steps(10, end) 3s forwards,
        blinking 500ms steps(10) infinite,
        centerfadeIn 1s forwards;
    animation-delay: 2s;
}

.said {
    position: absolute;
    margin-top: 250px;
    left: -200px;
    animation: 
        leftSlide 1s ease-in 5s forwards;
}


.than {
    position: absolute;
    margin-top: 400px;
    transform: translateX(950px);
    animation: rightSlide 1s ease-in 6s forwards;
    opacity: 0;
}


.done {
    position: absolute;
    margin-top: 550px;
    left: -240px;
    animation: 
        leftSlide 1s ease-in 7s forwards;
}


.lineFive {
    color: firebrick;
}

/* pageFive */


.scaleCenter {
    position: absolute;
    margin-top: 100px;
    opacity: 0;
    transform: scale(3);
    animation: 
        shrink-move 1s ease-in 2s forwards,
        fade-center 1s ease-in forwards;
}

.cause {
    opacity: 0;
    position: absolute;
    margin-top: 200px;
    animation: 
        fade-center 1s ease-in 3s forwards
}

.true {
    opacity: 0;
    position: absolute;
    margin-top: 400px;
    animation: 
        fade-center 1s ease-in 4s forwards
}

.love {
    opacity: 0;
    position: absolute;
    margin-top: 600px;
    animation: 
        fade-center 1s ease-in 5s forwards
}

.it {
    opacity: 0;
    position: absolute;
    margin-top: 800px;
    animation: 
        fade-center 1s ease-in 6s forwards
}

.aint {
    opacity: 0;
    position: absolute;
    margin-top: 1000px;
    animation: 
        fade-center 1s ease-in 7s forwards
}   

.last {
    opacity: 0;
    position: absolute;
    margin-top: 1200px;
    color:firebrick;
    animation: 
        fade-center 1s ease-in 8s forwards
}

                    /* Keyframes */

@keyframes leftfadeIn {
   from {
    opacity: 0;
   }
    to {
    opacity: 1;
   }
}


@keyframes typing {
    width {
        width: 0;
    }
    to {
        width: 35%
    }
}

  
@keyframes blinking {
    50% {
        border-color: transparent;
    }
}

@keyframes centerfadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


@keyframes bottomfadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* pageTwo keyframes*/

@keyframes fade-from-right {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


@keyframes slide-from-right {
    from {
        transform: translateX(1450px);
        opacity: 0
    }
    to {
        transform: translateX(1150px);
        opacity: 1;
    }
}


@keyframes typing2 {
    from {
        width: 0;
        opacity: 0;
    }
    to {
        width: 33.5%;
        opacity: 1;
    }
}


@keyframes slide-from-left {
    0% {
        transform: translateX(-1400px);
    }
    100% {
        transform: translateX(-200px);
    }
}

@keyframes slide-from-left {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(950px);
        opacity: 1;
    }
}


/* pageThree keyframes */

@keyframes closeIn {
    0% {
        letter-spacing: 50px;
        opacity: 0;
    }
    100% {
        letter-spacing: 0;
        opacity: 1;
    }
}


@keyframes typingRight {
    from {
        width: 0;
        opacity: 0;
    }
    to {
        width: 42%;
        opacity: 1;
    }
}

@keyframes rightfadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* keyframes pageFour */

@keyframes leftSlide {
    0% {
        transform: translateX(-300px);
    }
    100% {
        transform: translateX(330px);
    }
}

@keyframes rightSlide {
    0% {
        transform: translateX(1400px);
        opacity: 0;
    }
    100% {
        transform: translateX(350px);
        opacity: 1;
    }
}



/* keyframes pageFive */

@keyframes expandPage {
    0% {
        height: 100vh;
    }
    100% {
        height: 225vh;
    }
}


@keyframes fade-center {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes shrink-move {
    0% {
        transform: scale(3) translateY(0);
    }
    100% {
        transform: scale(1.5) translateY(-50px);
    }
}
